@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  position: relative;
}

.status-bar{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(87, 101, 116,0.6);
  display: none;
  align-items: center;
  padding: 1.5% 5%;
  width: 100%;
}

.status-bar h2{
  font-family: 'Balsamiq Sans', cursive;
  color: #341f97;
  text-transform: uppercase;
  margin-right: 1%;
  font-weight: 900;
}

.status-bar h3{
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  color: #4834d4;
}

.container{
  text-align: center;
  margin-top: 4%;
}

.container h1{
  font-family: 'Balsamiq Sans', cursive;
  margin-bottom: 1%;
}

.container textarea{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0.5% 0.8%;
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  resize: none;
}

.btns{
  padding: 0% 5.5%;
}

.btn{
  margin-right: 1%;
  border: none;
  background: blueviolet;
  border: 2px solid blueviolet;
  color: #fff;
  padding: 0.8% 1.5%;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
  font-weight: 600;
}

.btn:hover{
  background: #fff;
  border: 2px solid blueviolet;
  color: blueviolet;
}

.output-window{
  height: 20vh;
  width: 100%;
  padding: 0% 5%;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
}

.output-window h3{
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.6);
  padding: 1% 0.5%;
  font-size: 25px;
}

.output-window p{
  font-weight: 600;
  font-size: 18px;
}

.changedisplay{
  display: flex;
}

.copy{
  position: absolute;
  margin-left: 2%;
  display: none;
  right: 5%;
  bottom: 20%;
  padding: 0.3% 0;
}

.copy img{
  width: 40px;
}