@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-x: hidden;
  position: relative;
}

.status-bar{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(87, 101, 116,0.6);
  display: none;
  align-items: center;
  padding: 1.5% 5%;
  width: 100%;
}

.status-bar h2{
  font-family: 'Balsamiq Sans', cursive;
  color: #341f97;
  text-transform: uppercase;
  margin-right: 1%;
  font-weight: 900;
}

.status-bar h3{
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  color: #4834d4;
}

.container{
  text-align: center;
  margin-top: 4%;
}

.container h1{
  font-family: 'Balsamiq Sans', cursive;
  margin-bottom: 1%;
}

.container textarea{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0.5% 0.8%;
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  resize: none;
}

.btns{
  padding: 0% 5.5%;
}

.btn{
  margin-right: 1%;
  border: none;
  background: blueviolet;
  border: 2px solid blueviolet;
  color: #fff;
  padding: 0.8% 1.5%;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
  font-weight: 600;
}

.btn:hover{
  background: #fff;
  border: 2px solid blueviolet;
  color: blueviolet;
}

.output-window{
  /* height: 20vh; */
  width: 100%;
  padding: 1% 5%;
  font-family: 'Ubuntu', sans-serif;
}

.output-window h3{
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.6);
  padding: 1% 0.5%;
  font-size: 25px;
  width: 40%;
}

.output-window p{
  font-weight: 600;
  width: 85%;
  margin-top: 1%;
  line-height: 20px;
}

.changedisplay{
  display: flex;
}

.copy{
  margin-left: 5%;
  display: none;
  padding: 0.5% 1%;
  text-transform: uppercase;
  width: 8%;
}


@media screen and (max-width:480px) {

  .App{
    gap: 0.5rem;
  }

  .status-bar{
    padding: 6% 2%;
  }

  .status-bar h2{
    font-size: 15px;
  }

  .status-bar h3{
    font-size: 13px;
  }

  .container{
    margin-top: 8%;
  }

  .container h1{
    font-size: 25px;
    padding: 1% 6%;
  }

  .container textarea{
    width: 80%;
    height: 50%;
  }

  .btns{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0% 8%;
    gap: 0.3rem;
  }

  .btn{
    /* width: 60%; */
    padding: 4% 6%;
  }

  .output-window h3{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
  }

  .copy{
    width: 20%;
    padding: 1% 1.5%;
  }
}


@media screen and (min-width: 481px) and (max-width:1024px) {
  .App{
    gap: 1rem;
  }

  .status-bar{
    padding: 3% 6%;
  }

  .status-bar h2{
    font-size: 30px;
  }

  .status-bar h3{
    font-size: 25px;
  }

  .container h1{
    margin-top: 4%;
    padding: 0 2%;
  }

  .container textarea{
    width: 90%;
    font-size: 18px;
  }

  .btns{
    padding: 0% 3.5%;
  }

  .btn{
    padding: 1.8% 5%;
    font-size: 20px;
    margin: 1%;
  }

  .output-window h3{
    font-size: 25px;
    width: 100%;
  }

  .output-window p{
    font-size: 20px;
  }

  .copy{
    width: 15%;
    text-align: center;
    padding: 1% 1.2%;
    margin-left: 5%;
  }

}

